	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/11/2019 21:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
font-style: normal;
margin-left: 30px;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-linkedin:before { content: "\f101"; }
.flaticon-soundcloud:before { content: "\f102"; }
.flaticon-github-sign:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-telephone:before { content: "\f105"; }
.flaticon-id-card:before { content: "\f106"; }
.flaticon-mail:before { content: "\f107"; }
.flaticon-house:before { content: "\f108"; }
.flaticon-portfolio:before { content: "\f109"; }
.flaticon-design:before { content: "\f10a"; }
.flaticon-checked:before { content: "\f10b"; }
.flaticon-unchecked:before { content: "\f10c"; }
.flaticon-minus:before { content: "\f10d"; }
.flaticon-plus:before { content: "\f10e"; }
.flaticon-slack:before { content: "\f10f"; }